<div class="container mt-4">
  <h3>ログイン</h3>

  <div class="form-horifontal m-5">

  <h3>会員の方はこちらからログイン</h3>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="form-group mt-4">
        <%= f.label :email, "メールアドレス", class: 'col-3 offset-3' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'col-5' %>
      </div>

      <div class="form-group">
        <%= f.label :password, "パスワード", class: 'col-3 offset-3' %>
        <%= f.password_field :password, autocomplete: "current-password", class: 'col-5' %>
      </div>

      <div class="actions">
        <%= f.submit "ログイン", class: 'btn btn-primary col-3 offset-6 mb-4' %>
      </div>
    <% end %>

    <h3>会員登録がお済みでない方</h3>
      <div class="offset-4 mt-4">
      <%= render "public/customers/shared/links" %>
      </div>

  </div>

</div>
