<div class="container mt-4">
  <div class="row">
    <div class="col-3">
      <%= render 'public/genre', genres: @genres %>
    </div>

    <div class="col-9">
      <h1>商品一覧</h1>

      <p>(全<%= @items.count %>件)</p>

      <% @items.each do |item| %>

        <%= attachment_image_tag item, :image, :fill, 150, 120 %>

        <%= link_to item.name, item_path(item) %>

        <%= item.price.to_s(:delimited) %>

      <% end %>

    </div>
  </div>
</div>

