<div class="container mt-4">
    <div class="row">
        <div class="col-3">
            <%= render 'public/genre', genres: @genres %>
        </div>

        <div class="col-9">
            <div class="d-flex">

                <div class="box">
                    <%= attachment_image_tag @item, :image, :fill, 300, 210, class: 'm-4' %>
                </div>

                <div class="box">
                    <table class="table table-borderless mt-2">
                        <tr>
                            <th><%= @item.name %></th>
                        </tr>

                        <tr>
                            <th><%= @item.introduction %></th>
                        </tr>

                        <tr>
                            <th>￥<%= @item.add_tax_price.to_s(:delimited) %>(税込)</th>
                        </tr>

                        <tr>
                            <th>
                            <%= form_with url: cart_items_path, method: :post, local:true do |f| %>
                                <div class="form-horizontal">
                                    <div class="form-group">
                                    <%= f.number_field :amount, min: 1, placeholder: "個数選択" %>
                                    </div>

                                    <%= hidden_field_tag :item_id, @item.id %>
                                    <%= hidden_field_tag :price, @item.price %>

                                    <div class="form-group">
                                        <% if @item.is_active || false %>
                                            <%= f.submit "カートに入れる", class: 'btn btn-success' %>
                                        <% else %>
                                            <%= f.submit "カートに入れる", class: 'btn btn-success disabeld' %>
                                        <% end %>
                                    </div>
                                </div>
                            <% end %>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
