<h1>商品詳細</h1>

<%= attachment_image_tag @item, :image, :fill, 150, 120 %>

<%= @item.name %>

<%= @item.introduction %>

￥<%= @item.add_tax_price.to_s(:delimited) %>(税込)

<%= form_with url: cart_items_path, method: :post, local:true do |f| %>
    <%= f.number_field :amount, min: 1, placeholder: "個数選択" %>
    <%= hidden_field_tag :item_id, @item.id %>
    <%= f.submit "カートに入れる" %>
<% end %>