<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--すべて仮置き-->
    <header>
      <h1>LOGO</h1>
      <nav>
        <span>about</span>
        <span>商品一覧</span>
        <span>新規登録</span>
        <span>ログイン</span>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <p>footer</p>
    </footer>
  </body>
</html>
